body{
    font-family: "Roboto Thin", serif;
    margin: 0;
    padding: 0;

}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.menu{
    display: flex;

    justify-content: space-around;
}
.menu p{
    color: #F9FAF8;
    font-size: 24px;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;

}
.menu a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.upper-left{
    width: 25%;
    align-self: flex-start;
}
.upper-left  h1{
    font-size: 48px;
    color:#F9FaF9;
    font-weight: 900;
}
.upper-left  p{
    font-size: 18px;
    color:#E5E7EB;
}
.upper-right{
    width:40%;
    background-color: white;

}
.hero {
    margin: 75px 10%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.hero button{
    font-size: 20px;
    background-color: #3882F6;
    color:#E5E7EB;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.information{
    margin: 0;
    padding-bottom: 50px;
}
.information h1{
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.squares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
}
.square{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.info-square p{
    width: 150px;
    text-align: center;
}